<!DOCTYPE html>
<html>
<head>
    <title>USA Industries</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        body {
            background-color: #212121;
            color: #aeaeae;
            font-family: Arial, sans-serif;
            padding: 10px;
        }

        h1 {
            margin-bottom: 10px;
        }

        p {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <h1>USA Industries</h1>

    <h3>General Info:</h3>
    <!--change to disabled or ENABLED--> 
<pre>
Kill flag state:        {{ kill_flag }} 
Total gecs:             $100 morbillion 
Average money gain/h:   $300K 
Time until $1 billion:  3d
</pre>



</body>
</html>
