<!DOCTYPE html>
<html>
<head>
    <title>1 billion gecs</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> <!-- t-there!! i linked the stylesheet for you, but d-dont think that i, l-like you or anything, BAKA! ~>_<~ -->
</head>
<style>
    table, th, td {
      border:1px solid black;
      border-style: hidden;
    }
    </style>
<body>

</div>
    <h1>USA Industries</h1>
    <h2>General Info:</h2>
    <table style="width:15%">   <!-- this aint it, looks fucky when window is a different size -->
        <tr>
          <td>Kill flag state:</td>
          <td>{{ kill_flag }}</td>
        </tr>
        <tr>
          <td>Total gecs:</td>
          <td>${{ total_money }}</td>
        </tr>
        <tr>
          <td>Average daily gain:</td>
          <td>${{ total_money }}</td>
        </tr>
        <tr>
          <td>Time until $1 billion:</td>
          <td>3d 0h 0m</td>
        </tr>
        <tr>
          <td>Time spent mining:</td>
          <td>12d 45h 1m</td>
        </tr>
      </table>
    

    <h2>Server Info:</h2>
<p>Server uptime: {{ server_uptime }}</p>
<p>Database size: {{ folder_size_kb }} KB</p>


<a href="/options">Go to Options</a>


<h2>Usage Status:</h2>
{% for username, data in usage_status.items() %}
    <p>{{ username }}: <span style="font-weight: bold">{{ data.status }}</span> with {{ data.reloads }} reloads ({{ data.version }})</p>
{% endfor %}


</div>

</body>
</html>

<!-- 
    Change pre to a table with hidden borders
    https://www.w3schools.com/html/html_table_borders.asp

    Maybe change the color of the currently farming part so its more readable. also make it a table perhaps?
    https://www.w3schools.com/html/html_classes.asp




-->